#cloud-config

package_update: true
package_upgrade: false

write_files:
  - path: /root/.ssh/id_ed25519
    permissions: '0600'
    content: |
      ${indent(6, deploy_private_key)}

runcmd:
  - [ mkdir, -p, /root/.ssh ]
  - [ chmod, "700", /root/.ssh ]
  - [ bash, -c, "ssh-keyscan github.com > /root/.ssh/known_hosts" ]
  - [ chmod, "644", /root/.ssh/known_hosts ]
  - [ apt-get, update ]